<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @schoole.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @schoole.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @schoole.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @schoole.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @schoole.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @schoole.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @schoole.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @schoole.eight %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @schoole.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @schoole.ten %>
</p>

<%= link_to 'Edit', edit_schoole_path(@schoole) %> |
<%= link_to 'Back', schooles_path %>
