<p id="notice"><%= notice %></p>

<h1>Listing Collegeaands</h1>
<% if current_user.position == 'Admin' %>

<table>
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th>Eleven</th>
      <th>Twelve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collegeaands.each do |collegeaand| %>
      <tr>
        <td><%= collegeaand.one %></td>
        <td><%= collegeaand.two %></td>
        <td><%= collegeaand.three %></td>
        <td><%= collegeaand.four %></td>
        <td><%= collegeaand.five %></td>
        <td><%= collegeaand.six %></td>
        <td><%= collegeaand.seven %></td>
        <td><%= collegeaand.eight %></td>
        <td><%= collegeaand.nine %></td>
        <td><%= collegeaand.ten %></td>
        <td><%= collegeaand.eleven %></td>
        <td><%= collegeaand.twelve %></td>
        <td><%= link_to 'Show', collegeaand %></td>
        <td><%= link_to 'Edit', edit_collegeaand_path(collegeaand) %></td>
        <td><%= link_to 'Destroy', collegeaand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<% if current_user.position == 'Manager' %>
<table>
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th>Eleven</th>
      <th>Twelve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collegeaands.each do |collegeaand| %>
      <tr>
      <% if current_user.department_name == collegeaand.three %>
        <td><%= collegeaand.one %></td>
        <td><%= collegeaand.two %></td>
        <td><%= collegeaand.three %></td>
        <td><%= collegeaand.four %></td>
        <td><%= collegeaand.five %></td>
        <td><%= collegeaand.six %></td>
        <td><%= collegeaand.seven %></td>
        <td><%= collegeaand.eight %></td>
        <td><%= collegeaand.nine %></td>
        <td><%= collegeaand.ten %></td>
        <td><%= collegeaand.eleven %></td>
        <td><%= collegeaand.twelve %></td>
        <td><%= link_to 'Show', collegeaand %></td>
        <td><%= link_to 'Edit', edit_collegeaand_path(collegeaand) %></td>
        <td><%= link_to 'Destroy', collegeaand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%end%>
<% if current_user.position == 'User' %>
<table>
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th>Eleven</th>
      <th>Twelve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collegeaands.each do |collegeaand| %>
      <tr>
      <% if current_user.id == collegeaand.user_id %>
        <td><%= collegeaand.one %></td>
        <td><%= collegeaand.two %></td>
        <td><%= collegeaand.three %></td>
        <td><%= collegeaand.four %></td>
        <td><%= collegeaand.five %></td>
        <td><%= collegeaand.six %></td>
        <td><%= collegeaand.seven %></td>
        <td><%= collegeaand.eight %></td>
        <td><%= collegeaand.nine %></td>
        <td><%= collegeaand.ten %></td>
        <td><%= collegeaand.eleven %></td>
        <td><%= collegeaand.twelve %></td>
        <td><%= link_to 'Show', collegeaand %></td>
        <td><%= link_to 'Edit', edit_collegeaand_path(collegeaand) %></td>
        <td><%= link_to 'Destroy', collegeaand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New College of Arts & Sciences Form', new_collegeaand_path %>
<% end %>
<br>
<%= link_to 'Back', mains_path %>